body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
  margin: 0;
}

.cubeSizeOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: red; */
  width: 90vw;
}

.cubeSizeOption {
  background-color: black;
  height: 20vw;
  width: 20vw;
  border-radius: 2%;
  margin: 1vw;
  transition: transform 0.2s ease;
}

.cubeSizeOption:hover {
  transform: scale(1.05);
  /* transition: 0.2s ease-in; */
}

/* .cubeSizeOption:unhover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
} */

.row {
  /* background-color: grey; */
  width: 100%;
  border-radius: 15%;
  display: flex;
  flex-direction: row;
}

.square {
  /* background-color: black; */
  /* border-radius: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker {
  /* background-color: red; */
  height: 92%;
  width: 92%;
  border-radius: 20%;
}

.cubeRow {
  height: 31vh;
  margin: 1vh 0;
  width: 128vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cubeFaceSpace {
  height: 31vh;
  min-width: 31vh;
  width: 31vh;
  margin: 0 1vh;
}

.faceRow {
  display: flex;
  flex-direction: row;
}

.faceSquare {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveButton {
  height: 90%;
  width: 90%;
  /* background-color: grey; */
  font-size: 3vh;
  line-height: 3vh;
  padding: 0;
}

.moveButton:hover {
  background-color: grey;
}

.faceSticker {
  height: 90%;
  width: 90%;
  border-radius: 10%;
}

.turnButton {
  height: 7vh;
  width: 7vh;
  /* margin: 12vh; */
  /* font-size: 5vh;
  line-height: 5vh; */
  border: 2px solid grey;
  transition: transform 0.2s ease;
}

#clockwiseButton {
  margin: 19vh 4.7vh;
}

#anticlockwiseButton {
  margin: 19vh 18.7vh;
}

.turnButton:hover {
  transform: scale(1.2);
}

#faceSpace31 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetButton {
  font-size: 2.5vh;
  background-color: silver;
  width: 12vw;
  margin: 1vh;
  border-radius: 0;
  border: 1px solid grey;
  transition: transform 0.2s ease;
}

.resetButton:hover {
  background-color: grey;
  transform: scale(1.05);
}
